.filter-control-item {
    display: flex;
    align-items: center;
}
.filters-render {
    display: flex;
    flex-flow: column nowrap;
}
.filters-list {
    display: flex;
}
.separator {
    background-image: url("./../arrow-point-to-right.png");
    height: 25px;
    width: 25px;
    background-size: cover;
    margin: 0 20px;
}