.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.file-label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #ff9c46;
    padding: 10px;
    display: block;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px 0px;
}
.file-input:focus + label,
.file-input + label:hover {
    background-color: red;
}